<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<style>
  /*-- -------------------------- -->
<---        Why Choose Us       -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #why-choose-1662 {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;
      position: relative;
      overflow: hidden;
      z-index: 1;
    }

    #why-choose-1662 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 40px - 64px */
      gap: clamp(2.5rem, 3.9vw, 4rem);
    }

    #why-choose-1662 .cs-content {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    #why-choose-1662 .cs-title {
      margin: 0;
      max-width: 23ch;
    }

    #why-choose-1662 .cs-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* 16px - 32px */
      gap: clamp(1rem, 3.2vw, 2rem);
    }

    #why-choose-1662 .cs-card-group {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      /* 16px - 32px */
      gap: clamp(1rem, 2vw, 2rem);
    }

    #why-choose-1662 .cs-item {
      list-style: none;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;
    }

    #why-choose-1662 .cs-item-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    #why-choose-1662 .cs-item-number {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--secondary);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }

    #why-choose-1662 .cs-h3 {
      font-size: 1.25rem;
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
    }

    #why-choose-1662 .cs-item-text {
      font-size: 1rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }

    #why-choose-1662 .cs-floater {
      /* 246px - 582px */
      width: clamp(15.375rem, 50vw, 36.375rem);
      height: auto;
      position: absolute;
      right: -4rem;
      top: -0.5rem;
      z-index: -1;
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #why-choose-1662 .cs-wrapper {
      flex-direction: row;
      align-items: flex-start;
    }
  }
</style>

<section id="why-choose-1662">
  <div class="cs-container">
    <div class="cs-content">

      <h2 class="cs-title">Don’t Waste Your Budget on Ads That Don’t Work</h2>
    </div>
    <div class="cs-wrapper">
      <ul class="cs-card-group">
        <li class="cs-item">
          <span class="cs-item-number">01</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Spending money on ads that never reach the right people</h3>
           
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-item-number">02</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Competing with big brands without the same resources</h3>
           
          </div>
        </li>

      </ul>
      <ul class="cs-card-group">
        <li class="cs-item">
          <span class="cs-item-number">03</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Confusing options between cable, streaming, and local networks</h3>
           
          </div>
        </li>

      </ul>
    </div>
    <!---SVG Graphic-->
    <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/diagnol-ovals.svg"
      alt="graphic" loading="lazy" decoding="async" height="710" aria-hidden="true" width="690">
    <div class="cs-text" style="background-color: white; padding: 30px; max-width: 1200px; "><B class="cs-topper"
        style="color: black;">The result?</B> Wasted dollars, missed customers, and frustration.
<BR><BR>
      <B>But it doesn’t have to be that way. With the right plan, your ads can bring in real customers, not just views.</B>
    </div>
    <a style="margin:0px auto 0px; display: block; max-width: 300px;" href="/contact" class="cs-button-solid">Free
      Consultation</a>
  </div>
  </div>

</section>