<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->

<style>
    /*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-560 {
        padding: var(--sectionPadding);
        background-color: #fff;
    }
    #quote-560 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #quote-560 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }


    #quote-560 .cs-quote {
        /* 31px - 49px */
        font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
        line-height: 1.2em;
        font-weight: 900;
        margin: 0;
        color: var(--bodyTextColorWhite);
    }
    #quote-560 .cs-name {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.7vw, 1.25rem);
        line-height: 1.2em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        color: var(--secondary);
        display: block;
        letter-spacing: 0.01em;
    }
}

                                
</style>

<section id="quote-560">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">⭐⭐⭐⭐⭐</span>
            <p class="cs-title" style="color:black; max-width: 1200px;">
               “Finally, ads that actually brought us customers.”
            </p>
            <span class="cs-topper" style="color: black;">
                We had tried Facebook and print ads with little to no results. Once we launched our TV and streaming campaign, we saw an immediate difference. The commercials looked professional, and we started getting calls within the first week. It felt like the first time our advertising dollars were actually working for us.
            </span>
            <div class="cs-text">Owner of a Local Plumbing Company in Grand Rapids, MI</div>
        </div>
    </div>
</section>

                                