---
title: 'TV & Streaming Ads in Michigan | Local Advertising Experts'
description: 'Grow your business with targeted TV and streaming ads in Michigan. Serving Grand Rapids, Detroit, and statewide with 30+ years of experience in smart media buying and affordable commercial production.'
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}


    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}


{% include 'components/hero.html' %}
{% include 'components/home_stats.html' %}

{% include 'components/2.html' %}

{% include 'components/3.html' %}

{% include 'components/4.html' %}


{% include 'sections/steps.html' %}


{% include 'sections/testimonial.html' %}


{% include 'components/5.html' %}

{% include 'sections/cta.html' %}




{% endblock %}